<div class="container" id="datosAlumnos">
  <div class="row">
    <div class="col-4">
        <span class="etiqueta">Legajo: </span><span class="valorEtiqueta">{{alumno.legajo}}</span>
    </div>
    <div class="col-4">
        <span class="etiqueta">Documento: </span><span class="valorEtiqueta">{{alumno.tipodoc}}:{{alumno.documento}}</span>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <span class="etiqueta">Nombre:</span><span class="valorEtiqueta">{{alumno.nombre}}</span>
    </div>
    <div class="col-4">
        <span class="etiqueta">Apellido: </span><span class="valorEtiqueta">{{alumno.apellido}}</span>
    </div>
    <div class="col-4">
        <span class="etiqueta">Dirección:</span><span class="valorEtiqueta"> {{alumno.direccion}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
        <span class="etiqueta">Fecja de nacimiento: </span><span class="valorEtiqueta">{{alumno.fechanac| date}}</span>
    </div>
  </div>
</div>