
<mat-toolbar>Listado de alumnos </mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="legajo">
    <th mat-header-cell *matHeaderCellDef> Legajo </th>
    <td mat-cell *matCellDef="let alumno"> 
      <button [routerLink]="['/datosAlumno/' + alumno.legajo]" mat-raised-button color="primary">{{alumno.legajo}} </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef> Documento </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.persona.tipodoc}}: {{alumno.persona.documento}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.persona.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.persona.apellido}} </td>
  </ng-container>

  <ng-container matColumnDef="fechanac">
    <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
    <td mat-cell *matCellDef="let alumno"> {{alumno.persona.fechanac}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let alumno"> 
      <button [routerLink]="['/editarAlumno/' + alumno.legajo]" mat-raised-button color="primary">Editar</button>
      <button [routerLink]="['/datosAlumno/' + alumno.legajo]" mat-raised-button color="warn">Borrar</button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
